
# Project
gemini.md
tasks.json

# Go
*.exe
*.test
vendor/

# Java
target/
*.class
*.jar

# Env
.env
.env.local
*.pem
*.key
*.crt

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# Temp
.docker_tmp/
Microsoft.PowerShell.CoreFileSystem*
