apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-service-config
  namespace: default
data:
  # Kafka Configuration
  SPRING_KAFKA_BOOTSTRAP_SERVERS: "secure-pay-kafka.default.svc.cluster.local:9092"
  SPRING_APPLICATION_NAME: "notification-service"