apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: default
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
    spec:
      serviceAccountName: api-gateway
      containers:
        - name: api-gateway
          image: api-gateway:v1.0.4 # Added metrics middleware
          imagePullPolicy: Never # Critical for Minikube local images
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: api-gateway-config
          env:
            # Socket path matches what is mounted from hostPath
            - name: SPIFFE_ENDPOINT_SOCKET
              value: "unix:///tmp/spire-agent/public/api.sock"
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /tmp/spire-agent/public
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/agent-sockets
            type: DirectoryOrCreate
