apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: default
  labels:
    app: account-service
spec:
  type: ClusterIP
  selector:
    app: account-service
  ports:
    - name: grpc
      protocol: TCP
      port: 8082
      targetPort: 8082
