apiVersion: v1
kind: LimitRange
metadata:
  name: account-service-limit-range
  namespace: default
spec:
  limits:
  - default:
      cpu: 500m
      memory: 256Mi
    defaultRequest:
      cpu: 100m
      memory: 128Mi
    type: Container
